
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="icon" href="icon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Расписания занятий для бакалавриата (специалитета)</title>
    <link rel="stylesheet" href="{% static 'public/style.css' %}">
    <script src="{% static 'src/timetable_list.js' %}"></script>
</head>

<body class="bachelor-page">
<script>
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }
</script>

<!-- Заголовок -->
<header onclick="scrollToTop()">
    <div class="header-content">
        <a href="index.html">
            <img src="Logo_vstu_rus.png" alt="Логотип ВУЗа" class="logo">
        </a>
        <h1 class="title" id="scheduleTitle">Расписания занятий на <span id="semester"></span> семестр <span id="yearRange"></span> года</h1>
    </div>
</header>

<div class="main-container">
    <!-- Левая колонка с карточкой и кнопкой -->
    <div class="left-column">
        <div class="degree-card degree-card-bachelor custom-degree-card no-animation">
            <div class="degree-title">Бакалавриат (специалитет)</div>
            <div class="degree-card-separator-line degree-card-separator-line-bachelor"></div>
            <img src="bachelor_image.png" alt="Бакалавриат" class="degree-image">
        </div>
        <div class="button-container">
            <a href="choose_degree.html"><button class="back-button">Вернуться назад</button></a>
            <a href="index.html"><button class="back-button">Вернуться на главную страницу</button></a>
        </div>
    </div>

    <!-- Правая колонка с фильтрами и расписанием -->
    <div class="right-column">
        <div class="filter-schedule-container">
            <!-- Блок фильтров -->
            <div id="filter-container" class="filter-container">
                <select id="first-select" class="filter-select" name="Форма обучения">
                    <option value="" disabled selected>Выбрать форму обучения</option>
                    {% for item in first_select_items %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                <!--<div class="button-filter-container">
                    <button type="button" class="apply-button">Применить фильтр</button>
                    <button class="reset-filter-button" onclick="resetFilters()">Сбросить фильтр</button>
                </div>-->
            </div>

            <!-- Блок расписания -->
            <div class="schedule-container">
                <p class="chapter-title">Актуальное расписание:</p>
                <div class="schedule-item">
                    <span class="file-title">1 *ЗаголовокФайла1*</span>
                    <p>Дата изменения: ГГГГ-ММ-ДД ЧЧ:ММ:СС</p>
                    <p>Дата предыдущего обновления: ГГГГ-ММ-ДД ЧЧ:ММ:СС</p>
                </div>
                <div class="schedule-item">
                    <span class="file-title">2 *ЗаголовокФайла2*</span>
                    <p>Дата изменения: ГГГГ-ММ-ДД ЧЧ:ММ:СС</p>
                    <p>Дата предыдущего обновления: ГГГГ-ММ-ДД ЧЧ:ММ:СС</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Кнопка прокрутки вверх -->
<div id="scrollToTop" class="scroll-to-top">
    <img src="/public/arrow-up-icon.png" alt="Вверх">
</div>

</body>
</html>
